modules = ["nodejs-20", "web"]
run = "npm run start"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "node app.js"]

[workflows]
runButton = "Frame Order API"

[[workflows.workflow]]
name = "Dev Server"
author = 27546771
mode = "sequential"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Dev Server"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node app.js"

[[workflows.workflow]]
name = "Start API Server"
author = 27546771
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node app.js"

[[workflows.workflow]]
name = "API Server"
author = 27546771
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node app.js"

[[workflows.workflow]]
name = "Run Health Check"
author = 27546771
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node healthcheck.js"

[[workflows.workflow]]
name = "Fixed Health Check"
author = 27546771
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node healthcheck.js"

[[workflows.workflow]]
name = "Restart API Server"
author = 27546771
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node app.js"

[[workflows.workflow]]
name = "API Server Restart"
author = 27546771
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node app.js"

[[workflows.workflow]]
name = "Frame Order API"
author = 27546771
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node app.js"

[[ports]]
localPort = 3000
externalPort = 80
protocol = "http"
exposeLocalhost = true
