modules = ["nodejs-20", "web"]
run = "npm run start"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run start"]

[workflows]
runButton = "Dev Server"

[[workflows.workflow]]
name = "Dev Server"
author = 27546771
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node src/frame-order-zapier-integration.js"
